{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap">
  <link rel="stylesheet" href="{% static '/css/sstyle.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <section class="main">
      <section class="inputs">
        <form method='post' action=''>
          {% csrf_token %}
        <input type="text" placeholder="Enter any city..." name="city">
        <input type="submit" value="Submit" id="add">
        <button placeholder="submit" id="add"></button>
        </form>
      </section>
      <section class="display">
        <div class="wrapper">
          {% if data.temp %}
          <h2 id="cityoutput">{{city}}</h2>
          <p id="pressure">pressure :{{data.pressure}}</p>
          <p id="temp">temp :{{data.temp}}</p>
          <p id="cordinates">temp :{{data.cordinates}}</p>
          <p id="humidity">humidity :{{data.humidity}}</p>
          <p id="wind"></p>
          {% endif %}
        
        </div>
      </section>
    </section>

  </div>
</body>
<script src="{% static '/js/sc.js' %}" async defer></script>
</html>